@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    box-sizing: content-box;
    --color-header: #be3144;
    --color-welcome: #303841;
    --color-caption-bg: #303841;
    --color-contacts: #303841;
    --color-text: #f0f0f0;
    --color-projects: #45567d;
    --font-size-main: 25px;
}

html, body {
    /* width: 100vw; */
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: var(--font-size-main);
    color: var(--color-text);
}

#nav-section {
    position: fixed;
    width: 100%;
    top: 0;
    height: auto;
    background-color: var(--color-header);
}

#navbar {
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#navbar a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 600;
    font-size: 0.8rem;
}

#welcome-section {
    background-color: var(--color-welcome);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-section h1 {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
}

#welcome-section p {
    margin: 0;
    text-align: center;
}

#projects {
    background-color: var(--color-projects);
    padding: 10px;
}

#projects h2 {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
}

#projects main {
    display: grid;
    grid-template-columns: 100%;
}

.project-image {
    display: block;
    width: 100%;
}

.project-tile figure {
    margin: 10px;
}

.project-tile figcaption {
    background-color: var(--color-caption-bg);
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 800;
    /* padding: 0px; */
    margin: 0px;
}

.project-button {
    margin: 20px;
    text-align: center;
}

.project-button a {
    background-color: var(--color-contacts);
    font-size: 0.8rem;
    padding: 8px;
    font-weight: 800;
}

#contacts {
    background-color: var(--color-contacts);
}

#contacts main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#contacts main > a{
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--color-text);
    margin: 10px;
}

@media (min-width: 640px) {
    #projects main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .project-tile img {
        /* width: auto; */
        max-width: 280px;
    }
}

@media (min-width: 800px) {
    .project-tile img {
        /* width: auto; */
        max-width: 350px;
    }
}

@media (min-width: 1280px) {
    * {
        --font-size-main: 30px;
    }
    
    #projects main {
        margin-left: 80px;
        margin-right: 80px;
    }

    .project-tile img {
        /* width: auto; */
        max-width: 450px;
    }
}